- content_for :css do
  = stylesheet_link_tag 'royalslider-9.2/royalslider.css', "royalslider-9.2/default/rs-default.css"

- content_for :javascript do
  = javascript_include_tag "royalslider-9.2/jquery.royalslider.min.js"



