.proximos-eventos
  %h2.title Próximos Eventos
  %table
    %tr
      %td.fecha
        07 de julio
      %td.lugar
        Pisco
      %td.nombre
        Discoteca Anubis

    %tr
      %td.fecha
        07 de julio
      %td.lugar
        Pisco
      %td.nombre
        Discoteca Anubis

    %tr
      %td.fecha
        07 de julio
      %td.lugar
        Pisco
      %td.nombre
        Discoteca Anubis

.contratos
  %h2.title Contratos
  %ul
    %li.telefono
      21345667
    %li.celular
      43*435*4354
    %li.email
      manager@rio.com.pe



= render 'slider'
