.eventos-pasados.primary
  %h2.title
    = link_to 'ver próximos eventos', eventos_path

%h1.title
  = page_title! 'Eventos Pasados'

= render 'lista'

.eventos-pasados.secondary
  %h2.title
    = link_to 'ver próximos eventos', eventos_path
