.eventos-pasados.primary
  %h2.title
    = link_to 'ver eventos pasados', eventos_pasados_path

%h1.title
  = page_title! 'Próximos Eventos'

= render 'lista'

.eventos-pasados.secondary
  %h2.title
    = link_to 'ver eventos pasados', eventos_pasados_path
