body {background: $gray-dark; }
h1, h2, h3, h4, h5, h6, legend {color: $yellow; line-height: 100%; margin: 0; text-transform: uppercase; font-family: $font-2;
font-weight: 300; letter-spacing: 1px }
li {list-style: none}

form .field input[type="text"], form .field input[type="password"], form .field input[type="email"],
form .fields input[type="submit"] {box-shadow: 0 0 0 transparent}

h1.title,
h2.title {padding-bottom: 20px; @extend .title-parameters}

h1.title:before,
h2.title:before {@extend .title-icon }

p {@extend .main-paragraph}


header.main-header {
  background-color: $gray-light; margin-bottom: 30px;
  .container {position: relative; height: 60px}
}

footer.main-footer {
  background-color: $gray-light;
  .container {
    padding-top: 15px; position: relative;
    .footer-menu, .copyright {float: left; clear: left}
    a, span, p {@extend .paragraph-small; padding-bottom: 0}
    .share-website {float: right}
  }
}

ul.menu {
    text-align: right; margin: 0;
    li {
      @include inline-block; margin-left: 10px;
      border-bottom: 6px solid transparent;
      a, span {font-family: $font-2; color: $white; font-size: $size-menu; padding: 0 20px 6px; @include inline-block;
        &:hover {text-decoration: none; color: $yellow}
      }
      span {color: $yellow}
    }
  .main-header & {
    @include absolute(bottom, right, 0, 0);
  }
  .main-footer & {
    float: left; margin: 0;
    li {float: left;
      margin: 0 20px 0 0;
      a, span {@extend .paragraph-small}
    }
  }
}
ul.menu li.backLava {border-color: $yellow}

ul.share-menu {
  margin: 0; @include absolute(bottom, right, 0, 0);
  li {float: left; border-radius: 5px 5px 0 0; padding: 5px 5px 30px; margin-left: 5px;
    a {

    }
    &:hover {background: $gray-dark}
  }

}

#content {
  .container {
    position: relative; padding-bottom: 50px
  }
  .not-front & {
    .container {padding-top: 50px}
  }
}

.proximos-eventos, .contratos {
  @extend .miniblock; @include inline-block;
  h2.title {padding-bottom: 0}
}

.proximos-eventos { min-height: 100px}

.contratos {
  text-align: right; @include absolute(top, right, 0, 0);
  ul {padding-right: 5px}
  .not-front & li {float: right; margin-left: 10px; padding-bottom: 0}
  .email {padding-bottom: 0}
}

.icono {
  background: $iconos; @include size(20px, 23px); content:""; @include inline-block;
}

.fecha:before {@extend .icono; background-position: -43px 0}
.lugar:before {@extend .icono; background-position: -0px 0}
.nombre:before {@extend .icono; background-position: -83px 0}
.telefono:after {@extend .icono; background-position: -163px 0}
.celular:after {@extend .icono; background-position: -120px 0}
.email:after {@extend .icono; background-position: -203px 0}


/* CARRUSEL_ */
.carousel {
  width: auto; margin-top: 15px; @extend .contorno-default;
  &:after {@extend .sombra-slider}

  .carousel-control {
    background: $yellow; opacity: 1; border-radius: 0; top: 45%;
    border: 0; @include size(60px, 60px); font-size: 100px; line-height: 43%;
  }
  .carousel-indicators .active {background: $yellow}
  .carousel-indicators li {background: $white}
  a {color: $white}

}

.imagen-encabezado {
  position: relative; margin-bottom: 60px;
  &:after {
    @extend .sombra-slider;
  }
}


.redes-sociales {
  .red-social {
    width: 48%; float: left; min-height: 500px;
    &.facebook { @include social-box; padding: 5px; }
    &.twitter {float: right; @include social-box; padding: 15px 5px 5px 5px; }
    iframe {width: 100%}
  }

}

.pluginSkinDark a {color: $gray}

.messageBody { font-family: $font-1;}

.rio-presentacion {
  .content {
    @include box-default-padding; margin: 0 60px;
  }
  .not-front & {
    .content {
      margin: 30px;
    }
  }
  img {@extend .contorno-default}
}

#footer-logo {float: left; clear: left}

.eventos-pasados,
.rio-youtube {
  padding: 80px 0 40px;
  h2.title {
    text-align: center;
    font-size: 55px; padding: 0;
    a {
      color: $yellow;
    }
    &:before {content:""}
    &:after {content: $play-youtube; position: relative; top: 2px}
  }
}

.info-manager {
  padding: 40px 0 20px;
  h2.title {
    font-size: 35px; padding-bottom: 10px;
    &:before {content:""; }
  }
  ul {
    margin: 0;
    li {@extend .title; font-size: 25px; color: $white; padding-bottom: 5px; line-height: 100%;
      font-family: $font-2; text-transform: uppercase;
      &.telefono:before {content: $ico-telefono}
      &.celular:before {content: $ico-celular; margin-left: 2px}
      &.email:before {content: $ico-email; position: relative; top: 2px}

      &:after {content: ""; display: none}
      a {color: $white; line-height: 100%}
    }
  }
}

.eventos {
  width: 100%;
  .evento-fecha {
    width: 110px; float: left;
    @include box-default-padding; padding: 15px 0 20px; color: $yellow; text-transform: uppercase; text-align: center;
    font-family: $font-1; line-height: 100%;
    .dia {font-size: 50px; line-height: 100%}
    .mes {font-size: 20px; line-height: 100%}
  }
  .evento-info {
    width: 85%;
    span {display: block; color: $white; position: relative; padding-left: 50px;
    font-family: $font-1; line-height: 100%; text-transform: uppercase}
    .ev-nombre {font-size: 40px;
      &:before {content: $ico-ev-nombre; margin-right: 5px; @include absolute(top, left, 3px, 0)}
    }
    .ev-lugar {font-size: 17px; margin-top: 5px;
      &:before {content: $ico-ev-lugar; margin: 2px 14px 0 5px; @include absolute(top, left, -8px, 0)}
    }
  }

  tr {border-bottom: 25px solid transparent;
    td {padding: 0}
  }
}

.eventos-pasados {
  &.primary {
    padding: 0; @include absolute(top, right, 75px, 0);
    h2.title {font-size: 30px;
      &:after {content: $ico-ev-pas-1; top: 0px}
    }
  }
  &.secondary {
    h2.title {
      &:after {content: $ico-ev-pas-2}
    }
  }
}

.content.album {
  li {
    padding-bottom: 55px;
    .head {
      h2.title {
        @include inline-block; padding-bottom: 0; vertical-align: bottom; font-size: 57px;
        &:before{ content: $bg-title-musica; top: 2px}
      }
      .year {
        font-size: 30px; color: $white;
      }
    }
  }
}


form {
  @include box-default-padding; padding-bottom: 20px; margin: 0 29px 100px; float: left;
  #contactos & {width: 90%; padding: 15px 5% 20px}

  legend {text-align: center; @extend h1.title; border: 0; padding-top: 15px;
    &:before {content:""}
    &:after {content: $ico-pencil}
  }
  .fields {
    width: 40%; float: left;
    &.info {float: left; padding-left: 10%}
    &.message {float: right; padding-right: 10%}
    input[type="submit"] {background: $btn-submit; border: 0; padding: 50px 0 0; width: 100px; height: 0; cursor: pointer;
      overflow: hidden;
    }
  }
  .field {
    @include full-width; margin-bottom: 12px;
    label {@extend .main-paragraph; text-transform: uppercase; float: left; width: 80px; text-align: right; padding-right: 15px;
      padding-bottom: 0; margin-top: 6px; 
    }
    &.checkbox label {width: auto}
    input[type="text"], input[type="password"], input[type="email"] {
      border: 0; background: $form; outline: 0; border: 0; margin: 0 !important;
      height: auto; padding: 9px 15px 10px 10px;
      &:focus {background-position: -254px 0}
    }
    textarea {background: $form; background-position: -5px -40px; max-height: 130px; padding: 9px 15px 10px 10px; outline: 0; border: 0;
      resize: none; width: 232px;
    }
  }
  .actions {
    @include full-width;
    input {float: right; margin-right: 0px}
  }
}

body[id^="devise"] form br {display: none}
select {width: auto; min-width: 100px}
#contactos.new form .actions input {margin-right: 8px}

.content {
  &.integrantes {
    li {width: 32%; padding-right: 1%; float: left; text-align: center;
      &.last {padding-right: 0}
      h3 {@extend .title; @extend .font-size-extreme; padding: 30px 0 0px; text-align: center; font-size: 40px;
        span {color: $white; font-size: 30px; display: block}
      }
      .content {
        @include box-default-padding; p {text-align: center}
      }
    }
  }
}



/* FULL_WIDTH_ */
.content-default,
.redes-sociales,
.rio-presentacion,
.rio-youtube,
.footer-top, .footer-bottom,
.content.integrantes {@include full-width; margin-left: 0}

.cms-admin {@include absolute(top, right, 0, 20px);
  a {
  }
}


// buttons
.button-create {@extend .btn; @extend .btn-default; @extend .btn-primary}
.button-update {@extend .btn; @extend .btn-default; @extend .btn-info; margin-right: 5px}
.button-delete {@extend .btn; @extend .btn-default; @extend .btn-warning}
.button-readmore {@extend .btn; @extend .btn-default; @extend .boton-rojo}
.button-back {@extend .btn; @extend .btn-default; @extend .boton-rojo; margin-bottom: 10px}
.button-back-cms {@extend .btn; @extend .btn-default; @extend .btn-inverse; margin-top: 20px}
input[type="submit"] {@extend .btn; @extend .btn-success}
.link-more {}

/*
btn btn-primary
btn btn-info
btn btn-success
btn btn-warning
btn btn-danger
btn btn-inverse
btn btn-link
*/



.administrate {
  &.head {margin: 0 0 30px 65px}
  &.iterate {}
}

#eventos .administrate.iterate {margin-left: 48px; margin-top: 5px}

.tweets { height: 531px; overflow: hidden; }
.tweet { overflow: hidden; clear: both; text-align: left; margin-bottom: 16px; border-bottom: 1px solid #ddd; padding-bottom: 5px; margin-left: 8px; margin-right: 8px; }
.tweet.first { border: none; margin-bottom: 0px; }
.tweet_foto { float: left; margin-right: 8px; }
.tweet_text { color: #333333; font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; float: left; font-size: 13px; width: 292px; line-height: 16px; }
.tweet_text a { color: #000; }
.tweet_text a:hover { color: #B64926; }
.tweet_text a.profile { color: #3B5998; text-decoration: none; font-weight: bold; }
.tweet_text span { display: block; color: #999999; }

.content-default li {overflow: hidden; margin-bottom: 40px; padding: 20px; @include box-default;
  &:nth-of-type(2n+2) {background: $gray-light}

}
.multimedia-content {float: left;
  img, iframe {float: left; margin-right: 10px}
  iframe {width: 200px; height: 80px}
}
.text-content {
  overflow: hidden;
  a {color: $white}
}

.table-striped tbody > tr:nth-child(2n+1) > th{
  background-color: darken($gray-light, 12%); color: $white;
}

.table-striped tbody > tr:nth-child(1n+2) > td {
  background-color: darken($gray-light, 8%); color: $white;
}

.table-striped tbody > tr:nth-child(2n+1) > td {
  background-color: $gray-light; color: $white;
}

.table th, .table td {border: 0; font-family: $font-1; vertical-align: middle}

.label, .badge {font-size: 13px; font-weight: normal}
.td-nombre {min-width: 220px}

.contacto-block {@include box-default; padding: 10px; margin-bottom: 25px; margin-left: 68px; color: $white;
  b {color: $yellow; text-transform: uppercase}
  .separar {margin: 20px}
}


.new form,
.edit form,
.content-default li,
#contactos .button-back {margin-left: 68px}

#contactos.new form {margin-left: 29px }

.edit .field input[type="text"],
.new .field input[type="text"],
.edit .field input[type="email"],
.new .field input[type="email"],
.edit .field input[type="password"],
.new .field input[type="password"] {
  width: 235px;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {position: relative; top: 7px}
