
$iconos:                   url(iconos.png) no-repeat;
$slider-shadow:            url(slider-shadow.png);
$bg-title:                 url(bg-title.png);
$play-youtube:             url(play-youtube.png);

$size-menu:   20px;

$font-1:      'Abel', sans-serif;
$font-2:      'bebas_neueregular';

$gray-dark:   #42474b;
$gray-light:  #474f52;
$gold:        #eda908;
