
$iconos:                   url(iconos.png) no-repeat;
$slider-shadow:            url(slider-shadow.png);
$bg-title:                 url(bg-title.png);
$play-youtube:             url(play-youtube.png);
$ico-telefono:             url(ico-telefono.png);
$ico-celular:              url(ico-celular.png);
$ico-email:                url(ico-arroba.png);
$ico-pencil:               url(icon-pencil.png);
$btn-submit:               url(btn-enviar.png) no-repeat;
$form:                     url(form.png) no-repeat -5px 0;


$size-menu:   20px;

$font-1:      'Abel', sans-serif;
$font-2:      'bebas_neueregular';

$gray-dark:   #42474b;
$gray-light:  #474f52;
$gold:        #eda908;
