
$iconos:      url(iconos.png) no-repeat;

$size-menu:   20px;

$font-1:      'Abel', sans-serif;
$font-2:      'bebas_neueregular';

$gray-dark:   #42474b;
$gray-light:  #474f52;
$gold:        #eda908;
